# COPY THIS FILE TO .env AND FILL IN THE VALUES
# IF YOU ARE USING DOCKER CHECK .env.docker.example, COPY THIS FILE TO .env.docker AND FILL IN THE VALUES

# --------------------------------------------------
# KAFKA CONFIGURATION
# --------------------------------------------------

KAFKA_BOOTSTRAP_HOST= based on your docker name convention
KAFKA_BOOTSTRAP_PORT= 1234
KAFKA_GROUP_ID= String basis id
KAFKA_TOPIC= whatever you want to name it

# --------------------------------------------------
# REDIS CONFIGURATION
# --------------------------------------------------

REDIS_HOST= the best one [LOCALHOST]
REDIS_PORT= 1234
REDIS_PASSWORD= get your own password

# --------------------------------------------------
# JWT CONFIGURATION
# --------------------------------------------------

JWT_SECRET= 🙂‍↔️🙂‍↔️🙈🙈
JWT_ACCESS_TOKEN_EXPIRE_MILLISECONDS= at least a minute or more

# --------------------------------------------------
# DATABASE CONFIGURATION
# --------------------------------------------------

DATASOURCE_HOST= the best one [LOCALHOST]
DATASOURCE_PORT= 1234
DATASOURCE_NAME= you name it
DATASOURCE_USERNAME= get ur own username
DATASOURCE_PASSWORD= get ur own password

# --------------------------------------------------
# RATE LIMIT CONFIGURATION (IP BASED AND USERID BASED)
# --------------------------------------------------

IP_RATE_LIMIT_CAPACITY= an integer value
IP_TOKEN_REFILL_RATE= an integer value
IP_REFILL_DURATION_MILLISECONDS= an integer value

USER_RATE_LIMIT_CAPACITY= an integer value
USER_TOKEN_REFILL_RATE= an integer value
USER_REFILL_DURATION_MILLISECONDS= an integer value

# --------------------------------------------------
# COOKIE CONFIGURATION
# --------------------------------------------------

COOKIE_SECURE= nope [true or false]
COOKIE_NAME= u name the cookie [String]
COOKIE_HTTP_ONLY= sure? [true or false]